name: CI-CD Pipeline

permissions:
  contents: read
  packages: write

on:
  push:
    branches:
      - main

env:
  IMAGE_NAME: devops-cicd-microservice

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set lowercase repo owner
        run: |
          echo "OWNER_LC=${GITHUB_ACTOR,,}" >> $GITHUB_ENV

      - name: Build Docker Image
        run: |
          docker build -t ghcr.io/${{ env.OWNER_LC }}/${{ env.IMAGE_NAME }}:latest ./app

      - name: Push Docker Image
        run: |
          docker push ghcr.io/${{ env.OWNER_LC }}/${{ env.IMAGE_NAME }}:latest

