name: CI-CD Pipeline

on:
  push:
    branches:
      - main

env:
  IMAGE_NAME: devops-cicd-microservice

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker Image
        run: |
          docker build -t ghcr.io/${{ github.actor }}/${{ env.IMAGE_NAME }}:latest ./app

      - name: Push Docker Image
        run: |
          docker push ghcr.io/${{ github.actor }}/${{ env.IMAGE_NAME }}:latest
